@model IEnumerable<WebApplication3.Server.EF.SanPham>

@foreach (var item in Model)
{
    <div class="single-product">
        <div class="product-f-image">
            <img  src="~/Images/@item.image" alt="">
            <div class="product-hover">
                <a href="#"onclick="addCart('@item.spId', ' @item.spName', '@item.price', '@item.image')" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                <a href="#" onclick="@("window.location.href='" + @Url.Action("Details", "ChiTietSanPham", new { id = item.spId }) + "'");" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
        </div>

        <h2><a href="single-product.html">@Html.DisplayFor(modelItem => item.spName)</a></h2>

        <div class="product-carousel-price">
            <ins>@Html.DisplayFor(modelItem => item.price)</ins> <del>@Html.DisplayFor(modelItem => item.comparePrice)</del>
        </div>
    </div>
}